<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WesternLauncherOfEasternOrigins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TouhouLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WesternLauncherOfEasternOrigins.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value>720p</value>
            </setting>
            <setting name="AutoPractise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoJoy2Key" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Borderless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTouhouGame" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeMixerAtLauncher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouMainline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouVSShooter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouFighters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouSpinoffs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouFangameDanmaku" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouFangameOther" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouPC98" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTouhouW1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouW2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouW3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControllerCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotepadText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="ScrollToLastGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouSpecialAchievements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstGameLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowQuestBoard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenVolumeMixerAt100Volume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorAchievements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhou075" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFanBulletHell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLenenGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowKaisendouGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorGameCards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotepad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOtherFanTouhouBulletHell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEx2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEx3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNewPlayerButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPlayerLv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHiddenGames" serializeAs="String">
                <value>False</value>
            </setting>
        </WesternLauncherOfEasternOrigins.Properties.Settings>
        <TouhouLauncher.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value>720p</value>
            </setting>
            <setting name="AutoPractise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoJoy2Key" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Borderless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastTouhouGame" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipPractisePopups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeMixerAtLauncher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouMainline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouVSShooter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouFighters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouSpinoffs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouFangameDanmaku" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouFangameOther" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouPC98" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTouhouW1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouW2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouW3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControllerCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowChallengePanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotepadText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="ScrollToLastGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTouhouSpecialAchievements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstGameLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEasyMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNormalMode" serializeAs="String">
                <value>True</value>
            </setting>
        </TouhouLauncher.Properties.Settings>
    </userSettings>
</configuration>